/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
.wrapper, .header, .main, .blocks-text-row, .blocks-text-column, .case, .block-info, .block-code {
	display: flex;
}
.wrapper, .main, .blocks-text-column {
	flex-direction: column;
}
.header, .chevron-menu-example a {
  background: #fff;
}
.logo, .info-container {
  margin: 24px 48px;
}
.logo h2, .title-h3 {
  font: bold 24px/1.33 Helvetica, sans-serif;
}
.logo h2, .logo a, .header-menu a:hover{
  color: #6a75ca;
}
.block-text, .headings-example .h4, .headings-example .h5, .headings-example .h6 {
  line-height: 1.31;
}
.main, .block-info {
	align-items: center;
}
.block-code, .block-text {
  background: white;
}
.block-code, .block-text, .fieldset-code {
  border-radius: 10px;
}
.block-text:first-child, .sidebar-menu a, .sidebar-menu li:hover {
  color: #fff;
}
.block-text:first-child, .sidebar {
	background: #6a75ca;
}
.block-column:last-child, .block-info, .chevron-menu-example {
	margin-bottom: 48px;
}
.header-menu li, .nav-item, .chevron-menu-example a {
  display: inline-block;
}
.header-menu a, .chevron-menu-example a  {
  color: #000;
}
.header-menu a, .sidebar-menu a, .logo a, .sidebar-menu a, .chevron-menu-example a {
  text-decoration: none;
}
.header-menu a, .headings-example {
  font-weight: bold;
}
.case, .main-box  {
	flex-grow: 1;
}
.sidebar-menu a, .title-h3, .chevron-menu-example a {
  text-transform: uppercase;
}
.title-h2, .title-h3 {
  border-bottom: 1px solid #000;
}
.title-h3, .fieldset-code {
  margin-bottom: 24px;
}
.block-code, .block-info {
	clip-path: polygon(
		96.8% 0,
		100% 50px,
		100% 100%,
		0 100%,
		0 0);
}
.wrapper {
	min-height: 100vh;
	background: #eff2f8;
  font: 16px Helvetica, sans-serif;
}
/* Header */
.header {
  flex: 0 0 80px;
  box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25);
}
.header-menu {
  margin: 24px 48px 24px 67px;
}
.header-menu li {
  margin-left: 50px;
}
.header-menu a {
  text-transform: capitalize;
  line-height: 2;
}
/* index.html - main */
.citation {
	margin: 100px 0;
}
.citation h1 {
	font: bold 54px/1.17 Helvetica, sans-serif;
}
.container {
	width: 796px;
	filter: drop-shadow(0 4px 10px rgba(79, 88, 178, 0.25));
}
.block-row {
	flex-basis: 240px;
	clip-path: polygon(
		75% 0,
		100% 60px,
		100% 100%,
		0 100%,
		0 0);
}
.blocks-text-row {
	flex-direction: row;
	justify-content: space-between;
}
.block-column {
	margin-top: 48px;
	clip-path: polygon(
		92% 0,
		100% 60px,
		100% 100%,
		0 100%,
		0 0);
}
.block-column p {
	margin-right: 60px;
}
/* For Sections */
.block-text {
	color: #7d868e;
	font-family: Courier, arial;
}
.block-text p {
	margin: 32px;
}
.logo a:hover {
	color: #5e71ff;
}
.sidebar {
	flex: 0 0 240px;
}
.sidebar-menu {
	margin: 32px 48px;
}
.sidebar-menu li {
	margin-bottom: 16px;
}
.sidebar-menu a {
	font: 16px/2 Helvetica, sans-serif;
}
.sidebar-menu li:hover {
	list-style: disc outside;
}
.title-h2 {
	font: bold 36px/1.17 Helvetica, sans-serif;
	padding: 24px 48px;
}
.block-info {
	font-family: Helvetica, sans-serif;
}
.block-info img {
	height: 24px;
	width: 24px;
	margin-left: 32px;
}
.title-h3 {
	padding-bottom: 15px;
}
/* elements.html - example: Headings */
.headings-example .h1, .headings-example .h2 {
  line-height: 1.17;
}
.headings-example .h1 {
	font-size: 54px;
	margin-bottom: 42px;
}
.headings-example .h2 {
	font-size: 36px;
}
.headings-example .h3, .fieldset-code legend {
	line-height: 1.75;
}
.headings-example .h3 {
	font-size: 24px;
}
.headings-example .h2, .headings-example .h3, .headings-example .h4, .headings-example .h5, .headings-example .h6 {
	margin-bottom: 21px;
}
.fieldset-code {
	border: 1px solid #4f58b2;
	padding: 0 16px 16px;
}
.fieldset-code legend {
	padding: 8px;
	color: #ffc806;
	font-size: 12px;
}
.block-code p {
	margin: 48px;
}
/* components.index - example: chevron menu */
.chevron-menu-example {
	padding: 2px 60px;
}
.nav-list {
  text-align: right;
}
.nav-item {
  vertical-align: top;
}
.chevron-menu-example a {
  font: 32px/37px Helvetica, sans-serif;
  padding: 30px 25px 29px 25px;
  position: relative;
  margin: 0 25px;
}
.chevron-menu-example a:after, .nav-item a:before {
	content: "";
  display: block;
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 48px 0 48px 25px;
}
.chevron-menu-example a:after {
  right: -25px;
  border-color: transparent transparent transparent #fff;
}
.nav-item a:before {
  left: -25px;
  border-color: #fff transparent #fff transparent;
}
.nav-item a:hover {
  background: #ccc;
}
.nav-item a:hover:after {
  border-color: transparent transparent transparent #ccc;
}
.nav-item a:hover:before {
  border-color: #ccc transparent #ccc transparent;
}
.chevron-menu-example .nav-item a:hover {
  background: rgba(255, 255, 255, 0.7);
}
.chevron-menu-example .nav-item a:hover:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);
}
.chevron-menu-example .nav-item a:hover:before {
  border-color: rgba(255, 255, 255, 0.7) transparent rgba(255, 255, 255, 0.7) transparent;
}
.chevron-menu-example {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}
